include README.md
include LICENSE
include cli/scripts/deploy-kubernetes.sh
include cli/scripts/pre-requirements-kubernetes.sh
include cli/scripts/utils.sh
include cli/scripts/cleanup-kubernetes.sh
include cli/scripts/get-k8s-cluster-context-name.sh
include cli/scripts/configuration-questions.sh
include cli/scripts/download-syntho-charts-release.sh
include cli/scripts/major-pre-deployment-operations.sh
