include README.md
include LICENSE
include cli/scripts/deploy-kubernetes.sh
include cli/scripts/pre-requirements-kubernetes.sh
include cli/scripts/utils.sh
include cli/scripts/cleanup-kubernetes.sh
include cli/scripts/get-k8s-cluster-context-name.sh
include cli/scripts/configuration-questions.sh
include cli/scripts/download-syntho-charts-release.sh
include cli/scripts/major-pre-deployment-operations.sh
include cli/scripts/deploy-ray-and-syntho-stack.sh
include cli/scripts/k8s-deployment-preparation.sh
include cli/scripts/cleanup-docker-compose.sh
include cli/scripts/pre-requirements-dc.sh
include cli/scripts/configuration-questions-dc.sh
include cli/scripts/download-syntho-charts-release-dc.sh
include cli/scripts/deploy-ray-and-syntho-stack-dc.sh
include cli/scripts/validate-prepull-images-process.sh
include cli/scripts/prepull-images.sh
include cli/scripts/authenticate-syntho-registry.sh
include cli/scripts/deauthenticate-syntho-registry.sh
